[user]
	name = rajko
	email = rajko92@gmail.com
[core]
	autocrlf = input
[credential]
	helper = cache
[delta]
  line-numbers = true
  line-numbers-left-format = "{nm:>4}│"
  line-numbers-right-format = "{np:>4}│"
	syntax-theme = base16
	minus-style = red
	minus-emph-style = reverse red
	plus-style = green
	plus-emph-style = reverse green
	line-numbers-minus-style = red
	line-numbers-plus-style = green
	line-numbers-zero-style = bright-black
	hunk-header-style = omit
	file-style = blue bold
	file-decoration-style = none
	blame-palette = black bright-black
